<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>

    <p> A website which Time magazine refers to as: "Almost acceptable!"</p>
    <p> Techno Today magazine says: "There has to be something worse out there... I think"</p>
    <p> and Toronto Star adds: "Why did I just waste time on that?"
    <p><%= link_to "Sign Up To Write A Review!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>